@import "tailwindcss";


.custom-shape-divider-bottom-1777212824 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1777212824 svg {
    position: relative;
    display: block;
    width: calc(110% + 1.3px);
    height: 154px;
}

.custom-shape-divider-bottom-1777212824 .shape-fill {
    fill: #FCF9F1;
}